:root {
    
    /* Colors */
    --color-WetPaper: #F0F0F0;
    --color-RomanSilver: #84828F;
    --color-OldLavendar: #6A687A;
    --color-BlackCoral: #536271;
    --color-Charcoal: #3E4C5E;
    --color-PrussianBlue: #2C3D55;
}



/* Base */
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}
#root {
    background-color: var(--color-PrussianBlue);
    display: flex;
    height: 100vh;
    width: 100vw;
}

.fc {
    z-index: 0;
    flex: 5;
    background-color: var(--color-PrussianBlue);
    color: var(--color-WetPaper);
    padding-left: 5px;
}

.fc-daygrid-day-frame {
    background-color: var(--color-WetPaper);
    color: var(--color-PrussianBlue)
}

.fc-col-header-cell {
    background-color: var(--color-OldLavendar);
    
}

.fc .fc-button-primary {
    background-color: var(--color-OldLavendar);
    margin: 5px;
}

.fc .fc-button-primary:disabled {
    opacity: 0;
}

.fc-event-title-container {
    background-color: var(--color-Charcoal);
}



/* Menu */
#menu {
    color: var(--color-WetPaper);
    flex: 1;
    padding: 1em;
    background-color: var(--color-RomanSilver);
}

/* Menu Header */
#menu #menu-header {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
#menu #menu-user-image {
    width: 25%;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 5px var(--color-OldLavendar);
}
#menu #menu-user-name {
    margin-top: 0.5em;
}

/* Menu Buttons */
#menu hr {
    margin: 5px;
}
#menu .menu-button {
    cursor: pointer;
    text-align: left;
    width: 100%;
    color: var(--color-WetPaper);
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 5px;
    font-size: 18px;
}
#menu .menu-button:hover {
    filter: brightness(85%);
}
#menu .menu-button:active {
    filter: brightness(70%);
}
#menu #menu-settings-button {
    text-align: center;
}

/* Calendar */
#container {
    display: flex;
    flex: 5;
    /* height: 100%; */
    background-color: magenta;
}
#container #grid {  /* template -> (rows / columns) */
    display: grid;
    padding: 5px;
    background-color: var(--color-PrussianBlue);
    grid-template: repeat(6, minmax(0, 1fr)) / repeat(7, minmax(0, 1fr));
    gap: 5px;
    width: 100%;
}
#container #grid .cell {
    display: flex;
    padding: 5px;
    background-color: var(--color-WetPaper);
    box-shadow: inset 2.5px 2.5px 5px var(--color-OldLavendar);
}



/* Task View */
.tasks {
    flex: 5;
    background-color: var(--color-PrussianBlue);
}

.tasks * {
    color: var(--color-WetPaper);
}

.task {
    display: flex;
    background-color: var(--color-OldLavendar);
    padding: 1em;
    margin: 5px;
    border-radius: 5px;
}

.task-info {
    flex: 2;
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 1em;
}
.task-info .task-title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--color-WetPaper);
}
.task-info .assignedBy-info {
    display: flex;
    align-items: center;
}
.task-info .assignedBy-info #task-user-image {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 5px var(--color-OldLavendar);
}
.task-info .assignedBy-info .image-words {
    display: flex;
    font-size: 1.25em;
    align-items: center;
    padding-left: 1em;
}

.task-stats {
    flex: 1;
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 1em;
}
.task-stats .taskText {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.task-operations {
    flex: 1;
    display: grid;          /* Allows flex children to function normally when styled as rows of a container */
    grid-auto-rows: 1fr;    /* All rows same height */
    row-gap: 1em;
}
.task-operations .created-by-info {
    display: flex;
    align-items: center;
    justify-content: right;
}
.task-operations .created-by-info #task-user-image {
    height: 2em;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 5px var(--color-OldLavendar);
}
.task-operations .created-by-info .image-words {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    padding-right: 1em;
}
.task-operations div {
    display: flex;
    align-items: center;
    justify-content: right;
}
.task-operations div .crud-button {
    background-color: transparent;
    border: none;
    padding-left: 1em;
}



/* Task List Header */
.tasks #top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px calc(1em + 5px) 0px calc(1em + 5px);
}
.fc-header-toolbar {
    padding: 5px 1em 0px 1em;
}
.tasks #top-bar .title, .fc .fc-toolbar-title {
    font-size: 2.25em;
}
.tasks #top-bar .add-task-button {
    background-color: transparent;
    border: none;
}